<footer class="page-footer transparent white-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Code plagiarism checker</h5>
        <p class="grey-text text-lighten-4">Code with integrity</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://github.com/elvisAR-git/plagchecker"
              >Github</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.instagram.com/elvis.moraa/"
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.linkedin.com/in/elvis-moraa-6701761a7/"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://twitter.com/Elvis_34B"
              >Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright
      <a
        class="grey-text text-lighten-4 right"
        href="https://afrisoftdevelopers.com/"
        >Afrisoft Developers</a
      >
    </div>
  </div>
</footer>
