<header>
  <div class="center white-text">
    <p class="title">
      <span class="light-blue-text"><a href="/">Alan Ray</a></span> | Code
      plagiarism checker
    </p>
    <br />
    <div class="row">
      <div class="col s2 icon">
        <i id="js-icon" class="js-icon"></i>
        <span>JavaScript</span>
      </div>
      <div class="col s2 icon">
        <i class="python-icon"></i>
        <span>Python</span>
      </div>
      <div class="col s2 icon">
        <i class="go-icon"></i>
        <span>Golang</span>
      </div>
      <div class="col s2 icon">
        <i class="html5-icon"></i>
        <span>HTML5</span>
      </div>
      <div class="col s2 icon">
        <i class="java-icon"></i>
        <span>Java</span>
      </div>
      <div class="col s2 icon">
        <i class="ts-icon"></i>
        <span>TypeScript</span>
      </div>
    </div>
  </div>
</header>
