@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

* {
    font-family: 'Noto Sans HK', sans-serif;
}

code {
    font-family: monospace !important;
}

nav {
    position: fixed;
    z-index: 4;
}

.container {
    padding: 1rem;
}

body {
    background-image: url("/img/background.png");
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

label {
    cursor: pointer !important;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}